* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(fundo.jpg);
}
.title {
    background-color: rgb(146, 144, 144);
    border: 3px solid black;
    margin: 30px;
    text-align: center;
}
.Option {
    background-color: rgb(211, 208, 208);
    border: 3px solid black;
    margin: 30px;
    padding: 20px;
    text-align: left;
}
#Champions {
    background-color: rgb(211, 208, 208);
    border: 3px solid black;
    margin: 30px;
    padding: 20px;
    text-align: left;
}