body {
  margin: 0;
  padding: 0;
  font-family:'Grenze', serif;
  background-image: url(campo.jpg);
  background-attachment: fixed;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}
header {
  margin: 15px 0 0 0;
  text-align: center;
}
h1 {
  color:#d8a14e;
  margin-block-start: 0;
  margin-block-end:0;
}
.bar {
  box-sizing: border-box;  
  align-items: center;
  background-color:#84632c;
  opacity: 0.8;
  width: 100%;
  text-align: center;
}
select {
  box-sizing: border-box;
  font: 20px 'Grenze', serif ;
  margin: 0; 
  border-radius: 5px;
  background-color:#314c21; 
  text-align: center;
}
.shadow p {
  margin: 0;
  padding: 0;
}
.ord {
  display: inline-block;
  width: 100%;
}
#home {
  font: 20px 'Grenze', serif ;
  padding: 5px;
}
.cards {
  position:relative;
  display: flex;
  align-items:center;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 8px;
  background-color: rgb(200, 200, 200);
  text-align: center;
}
.infoChampions {
  position:relative;
  display: flex;
  align-items:center;
  box-sizing: border-box;
  position: relative;
  border: 2px solid black;
  border-radius: 8px;
  background-color: rgb(200, 200, 200);
  text-align: center;
}
footer {
  height: 80px;
  width: 100%;
  background-color:#314c21;
}

/*PC*/
@media screen and (min-width:800px){
  h1 {
    font-size: 450%;
    text-shadow: 10px 10px 20px #84632c;
  }
  .bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 0 3%;
  padding: 1%;
  height: 50%;
  font-size: 25px;
  }
  select {
    box-sizing: border-box;
    font: 20px 'Grenze', serif ;
    margin: 0; 
    border-radius: 5px;
    background-color:#314c21; 
    text-align: center;
  }
  .shadow {
    border: 1px solid black;
    border-radius: 5px;
    padding: 1%;
  }
  .shadow:hover{
    cursor: pointer;
    box-shadow: 0px 0px 20px 10px #314c21;
  }
  .ord {
    display: inline-block;
    width: 100%;
  }
  #Champions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 3% 1%;
    padding: 0;
    width: 94%;
  }
  .infoChampions {
    flex-flow: column nowrap;
    height: 280px;
    width: 150px;
    margin: 0.25%;
    padding: 0.30%;
    font-size: 18px;
  }
  .cards {
    flex-direction: column; 
    height: 120px;
    width: 110px;
    margin: 0.20%;
    padding: 0.6%;
    font-size: 20px;
  }
  .Avatar {
    width: 85px;
    height:80px;
  }
}
/*TABLET E MOBILE*/
@media screen and (max-width:800px){
  h1 {
    font-size: 280%;
    text-shadow: 10px 10px 20px #84632c;
  }
  .bar {
    display: flex;
    flex-direction: column;
    margin: 0 0 3%;
    padding: 1%;
    height: 30%;
    font-size: 18px;
  }
  select {
    box-sizing: border-box;
    font: 20px 'Grenze', serif ;
    margin: 0; 
    border-radius: 5px;
    background-color:#314c21; 
    text-align: center;
  }
  .shadow {
    border: 1px solid black;
    border-radius: 5px;
    padding: 1%;
    margin: 3% 0;
  }
  .shadow:hover{
    cursor: pointer;
    box-shadow: 0px 0px 20px 10px #314c21;
  }
  .ord {
    display: inline-block;
    width: 100%;
  }
  #Champions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 3% 1%;
    padding: 0;
    width: 94%;
  }
  .infoChampions {
    flex-flow: column nowrap;
    height: 230px;
    width: 120px;
    margin: 0.5%;
    padding: 0.30%;
    font-size: 15px;
  }
  .cards {
    flex-direction: column; 
    height: 90px;
    width: 80px;
    margin: 0.30%;
    padding: 0.6%;
    font-size: 17px;
  }
  .Avatar {
    width: 65px;
    height: 55px;
  }
}