@media screen and (min-width:800px) and (max-width:2000px) {
* {
  margin: 0;
  padding: 0;
  font-family: 'Gayathri', sans-serif;
  font-family: 'Squada One', cursive;
}

body {
	background-image: url(fundo.png);
	box-sizing: border-box;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;  
}

i {
  background-color: #a88b60;
  border: none;
  cursor: pointer;
  font-size: 20px; 
}

#home {
  border: none;
}

.title {
  background-color: #a88b60;
  border: 3px solid black;
  margin: 30px;
  text-align: center;
}

.champions {
  background-color: #a88b60;
  border: 3px solid black;
  margin: 30px;
  padding: 20px;
  text-align: left;    
}

.nav {
  background-color: #a88b60;
  border: 3px solid black;
  margin: 30px;
  padding: 10px;
  word-spacing: 10px;
  text-align: center;      
}

span {
  background-color: #ffffe8;
  border: 3px solid black;
  border-radius: 10px;
  width: 80px;    
  margin: 0.37%;
  margin-top: 1%;
  padding: 15px;
  text-align: center;    
  
}

#resultado {   
  display: flex;    
  flex-wrap: wrap;    
}

#legenda{
  background-color: #ffffe8;    
  margin: 30px;
  padding: 0px 20px;
  text-align: center;
}
}

@media screen and (max-width:800px) {
* {
  margin: 0;
  padding: 0;
  font-family: 'Gayathri', sans-serif;
  font-family: 'Squada One', cursive;
}

body {
  background-image: url(fundo.jpg);
}

.title {
  background-color: rgb(146, 144, 144);
  border: 3px solid black;
  margin: 30px;
  text-align: center;
}

.champions {
  background-color: rgb(146, 144, 144);
  border: 3px solid black;
  margin: 30px;
  padding: 20px;
  text-align: center;    
}

label {
  background-color: rgb(146, 144, 144);    
  margin: 30px;
  padding: 20px;
  text-align: left;       
}

span {
  background-color: rgb(211, 208, 208);
  border: 3px solid black;
  width: 80px;    
  margin: 0.37%;
  margin-top: 1%;
  padding: 15px;
  text-align: center;    
  
}

#resultado {   
  display: flex;    
  flex-wrap: wrap;    
}

}
